<template>
  <require from="./semantic/semantic.css"></require>
  <h1>${message} Holaaa!!!</h1>
  <button class="ui button">
      Button
    </button>
    <div class="ui button" tabindex="0">
      Focusable
    </div>
</template>
